// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variables
@import "./variables.scss";

// mixins
@import "./mixins.scss";

// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


// common/typo
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: $mainColor !important;
}

// header
header {
    @include align-center;
    height: 4.375rem;
    background-color: $secondaryColor;
    img {
        height: 2.8125rem;
    }
}

// main 
.album {
    text-align: center;
    .box {
        background-color: $secondaryColor;
        height: 100%;
        img {
            width: 100%;
            height: 70%;
            object-fit: contain;
        }
        h3 {
            color: #fff;
            text-transform: uppercase;
            word-break: break-word;
            font-size: 1.625rem;
        }
        .author, .year {
            color: #808078;
            font-size: 1.25rem;
        }
    }
}

// responsive images
// sm
@media screen and (min-width: 576px) {
    .album {
        .box {
            img {
                height: 48%;
            }
        }
    }
}
// md
@media screen and (min-width: 768px) {
    .album {
        .box {
            img {
                height: 42%;
            }
        }
    }
}
// lg
@media screen and (min-width: 992px) {
    .album {
        .box {
            img {
                height: 45%;
            }
        }
    }
}
// xxl
@media screen and (min-width: 1400px) {
    .album {
        .box {
            img {
                height: 50%;
            }
        }
    }
}